<!DOCTYPE html>
<html>
<head>
    <title>Pie Chart - Day High Values</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div id="chartContainer" style="width: 100%; height: 800px;"></div>

    <script>
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawPieChart);

        function drawPieChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Symbol');
            data.addColumn('number', 'Day High');

            // Adding data from Flask variable (stock_data)
            {% for stock in stock_data %}
                data.addRow(['{{ stock.symbol }}', {{ stock.dayHigh }}]);
            {% endfor %}

            var options = {
                title: 'STOCKS - DAY HIGH VALUES',
                backgroundColor: 'black', // Set background color to black
                is3D: true, // Enable 3D effect (optional)
                legend: {textStyle: {color: 'white'}}, // Set legend text color to white
                titleTextStyle: {color: 'white'} // Set title text color to white
            };

            var chart = new google.visualization.PieChart(document.getElementById('chartContainer'));
            chart.draw(data, options);
        }
    </script>
</body>
</html>
