<!DOCTYPE html>
<html>
<head>
    <title>Column Chart - Stock Price Change</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        #chartContainer {
            width: 80%;
            height: 400px;
        }
    </style>
</head>
<body>
    <div id="chartContainer"></div>

    <script>
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawColumnChart);

        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Stock');
            data.addColumn('number', 'Price Change');

            // Add data from Flask variable (stock_data)
            {% for stock in stock_data %}
                data.addRow(['{{ stock.identifier }}', {{ stock.change }}]);
            {% endfor %}

            var options = {
                title: 'STOCK PRICE CHANGE',
                chartArea: { width: '80%', height: '60%' },
                hAxis: {
                    title: 'Stocks',
                    titleTextStyle: { color: '#333' },
                    textStyle: { color: '#333' },
                    titlePosition: 'out',
                    slantedText: true,
                    slantedTextAngle: 18,
                    baseline: 5,
                    maxTextLines: 1,
                    minTextSpacing: 10
                },
                vAxis: {
                    title: 'Change',
                    titleTextStyle: { color: '#333' },
                    textStyle: { color: '#333' }
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chartContainer'));
            chart.draw(data, options);
        }
    </script>
</body>
</html>
